@use 'sass:color';
@use '_variables' as *;

.app-container {
  margin: 0 auto;
  max-width: $screen-xl-min;
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;

  .form-container-mobile {
    display: none;
  }
  .form-container-desktop {
    display: block;
  }

  .form-container-mobile {
    background-color: $nav-blue;
    form {
      width: 95%;
      margin: 1rem auto;
    }
    svg {
      display: block;
      margin: 10px auto;
      &:hover circle {
        fill: color.scale($primary-blue, $lightness: $lighten-20);
      }
    }
  }

  @include sm {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;

    .form-container-desktop {
      display: none;
    }

    .form-container-mobile {
      display: block;
      width: 100%;
      margin: 0;
    }
  }
}

.no-content {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
}

.results-container {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  margin: 20px 0;
  @include sm {
    margin-top: 0;
  }
}
