@use '_variables' as *;

.header {
  background-color: $primary-blue;
}
.title-container {
  margin: 0 auto;
  max-width: $screen-xl-min;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-family: 'Poetsen One', sans-serif;
  color: $primary-white;
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  padding: 20px 0;
  hr {
    margin: 5px 0;
    width: 140%;
    border: 2px solid $primary-white;
    border-radius: 30px;
  }

  @include sm {
    font-size: 32px;
    hr {
      width: 110%;
    }
  }
}
